In [18]:
# Dependecies
import random
import requests
import pandas as pd
import time
import openweathermapy.core as owm
import matplotlib.pyplot as plt
# from config import api_key
import numpy as np
import csv
import datetime
import seaborn as sns
import calendar


import plotly
plotly.tools.set_credentials_file(username='melody9178', api_key='W5hhLb4CAn9Bk6cpOUjc')
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from osgeo import gdal, ogr, osr
from fiona.ogrext import Iterator, ItemsIterator, KeysIterator
from geopandas import GeoDataFrame
gdal.VersionInfo()

ModuleNotFoundError: No module named 'osgeo'

In [2]:
#Import CSV/API
csv_path = "gun-violence-data_01-2013_03-2018.csv"
GunVoilenceRawData_df = pd.read_csv(csv_path)

In [3]:
# Include additional columns Year and Month
GunVoilenceRawData_df["Year"] = pd.DatetimeIndex(GunVoilenceRawData_df['date']).year
GunVoilenceRawData_df = GunVoilenceRawData_df[(GunVoilenceRawData_df.Year != 2013)]
GunVoilenceRawData_df["Month"] = pd.DatetimeIndex(GunVoilenceRawData_df['date']).month
GunVoilenceRawData_df['Month'] = GunVoilenceRawData_df['Month'].apply(lambda x: calendar.month_abbr[x])
GunVoilenceRawData_df['Victims'] = GunVoilenceRawData_df["n_killed"] + GunVoilenceRawData_df["n_injured"]

In [4]:
#Data Cleanup - Replace "District of Columbia" value with "Washington"
GunVoilenceRawData_df = GunVoilenceRawData_df.replace('District of Columbia', 'Maryland')

In [5]:
# Print cleaned up date
GunVoilenceRawData_df.head()

,incident_id,date,state,city_or_county,FIPS,n_killed,n_injured,congressional_district,n_guns_involved,Year,Month,Victims
278,95289,1/1/2014,Michigan,Muskegon,31123.0,0,0,2.0,NaN,2014,Jan,0
279,92401,1/1/2014,New Jersey,Newark,31127.0,0,0,10.0,NaN,2014,Jan,0
280,92383,1/1/2014,New York,Queens,31143.0,1,0,5.0,NaN,2014,Jan,1
281,92142,1/1/2014,New York,Brooklyn,29019.0,0,1,9.0,NaN,2014,Jan,1
282,95261,1/1/2014,Missouri,Springfield,31165.0,0,1,7.0,NaN,2014,Jan,1

# Shootings by State

In [6]:
#Find valuable data using lists - shottings count per State
State_Shooting = pd.DataFrame(GunVoilenceRawData_df.groupby(['state']).size())
State_Shooting= State_Shooting.reset_index()
State_Shooting.columns = ['state','ShootingCount']
State_Shooting = State_Shooting.set_index('state')
State_Shooting.head()

            ShootingCount
state
Alabama              5469
Alaska               1349
Arizona              2323
Arkansas             2842
California          16267

In [7]:
# Build State Abbrev Dataframe

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}


State_Abbrev=pd.DataFrame.from_dict(us_state_abbrev,orient='index')
State_Abbrev.index.name = 'state'
State_Abbrev = State_Abbrev.rename(index = str, columns = {0:"state_abbrev"})

State_Abbrev.head()

           state_abbrev
state
Alabama              AL
Alaska               AK
Arizona              AZ
Arkansas             AR
California           CA

In [8]:
# To facilitate visualisation, merge State Abbreviation dataframe with State Shooting dataframe
StateAbbrev_Shooting = pd.concat([State_Shooting, State_Abbrev], axis=1, join='outer')
StateAbbrev_Shooting.head()

            ShootingCount state_abbrev
state
Alabama              5469           AL
Alaska               1349           AK
Arizona              2323           AZ
Arkansas             2842           AR
California          16267           CA

In [9]:
# Visualize Shootings by State


for col in StateAbbrev_Shooting.columns:
    StateAbbrev_Shooting[col] = StateAbbrev_Shooting[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]


data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = StateAbbrev_Shooting['state_abbrev'],
        z = StateAbbrev_Shooting['ShootingCount'].astype(float),
        locationmode = 'USA-states',
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = 'Shootings Count')
        ) ]

layout = dict(
        title = '2014-2018 US Shootings Count by State',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = None)
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='2014-2018 US Shootings Count by State' )

# Shootings by Cities

In [10]:
#shootings count by cities
City_Shooting = pd.DataFrame(GunVoilenceRawData_df.groupby(['state','city_or_county']).size())
City_Shooting= City_Shooting.reset_index()
City_Shooting.columns = ['state','city/county','ShootingCount']
City_Shooting = City_Shooting.set_index('city/county')
City_Shooting.head()

               state  ShootingCount
city/county
Abbeville    Alabama              2
Adamsville   Alabama              9
Adger        Alabama              3
Alabaster    Alabama              4
Alberta      Alabama              1

In [11]:
#Assign FIPS to each city
fips = GunVoilenceRawData_df[['city_or_county', 'FIPS']]
fips['FIPS'] = fips['FIPS'].round()
fips.columns = ['city/county','FIPS']
fips = fips.set_index('city/county')
fips.head()

                FIPS
city/county
Muskegon     31123.0
Newark       31127.0
Queens       31143.0
Brooklyn     29019.0
Springfield  31165.0

In [12]:
# Merge city shooting with fips to visualise
# CityFIPS_Shooting = pd.concat([City_Shooting, fips], axis=1, join_axes=[City_Shooting.index])
# CityFIPS_Shooting.head()
CityFIPS_Shooting = City_Shooting.append(fips)
CityFIPS_Shooting.head()

             FIPS  ShootingCount    state
city/county
Abbeville     NaN            2.0  Alabama
Adamsville    NaN            9.0  Alabama
Adger         NaN            3.0  Alabama
Alabaster     NaN            4.0  Alabama
Alberta       NaN            1.0  Alabama

In [13]:
# Texas shooting by cities
Texas_Shooting = CityFIPS_Shooting[CityFIPS_Shooting['state'] == 'Texas']
Texas_Shooting.head()

             FIPS  ShootingCount  state
city/county
Abbott        NaN            1.0  Texas
Abilene       NaN          134.0  Texas
Addison       NaN            2.0  Texas
Adkins        NaN            1.0  Texas
Agua Dulce    NaN            1.0  Texas

In [16]:
# Texas shooting by cities visialised map
values = CityFIPS_Shooting['ShootingCount'].tolist()
fips = CityFIPS_Shooting['FIPS'].tolist()

colorscale = [
    'rgb(193, 193, 193)',
    'rgb(239,239,239)',
    'rgb(195, 196, 222)',
    'rgb(144,148,194)',
    'rgb(101,104,168)',
    'rgb(65, 53, 132)'
]

fig = ff.create_choropleth(
    fips=fips, values=values, scope=['Texas'],
    colorscale=colorscale,
    county_outline={'color': 'rgb(255,255,255)', 'width': 0.5}, round_legend_values=True,
    legend_title='Population by County', title='California and Nearby States'
)

py.iplot(fig, filename='test')

ImportError: geopandas, pyshp and shapely must be installed for this figure factory.

Run the following commands to install the correct versions of the following modules:

`pip install geopandas==0.3.0`
`pip install pyshp==1.2.10`
`pip install shapely==1.6.3`

If you are using Windows, follow this post to properly install geopandas and dependencies:http://geoffboeing.com/2014/09/using-geopandas-windows/

# Shooting and Killed by time

In [19]:
ShootingTime = pd.DataFrame(GunVoilenceRawData_df.groupby(['date']).size())
ShootingTime = ShootingTime.reset_index()
ShootingTime.columns = ['Date','ShootingCount']
ShootingTime['Date'] =pd.to_datetime(ShootingTime['Date'], format='%m/%d/%Y')
ShootingTime = ShootingTime.sort_values('Date')
ShootingTime.head()

          Date  ShootingCount
0   2014-01-01            216
55  2014-01-02            119
109 2014-01-03            124
124 2014-01-04            140
129 2014-01-05            130

In [24]:

VictimsTime = pd.DataFrame(GunVoilenceRawData_df.groupby(['date'])['Victims'].sum())
VictimsTime = VictimsTime.reset_index()
VictimsTime.columns = ['Date','Victims']
VictimsTime['Date'] =pd.to_datetime(VictimsTime['Date'], format='%m/%d/%Y')
VictimsTime= VictimsTime.sort_values('Date')
VictimsTime.head()

          Date  Victims
0   2014-01-01      182
55  2014-01-02       77
109 2014-01-03       96
124 2014-01-04      110
129 2014-01-05       97

In [27]:
ShootingTimeData = go.Scatter(
                  x=ShootingTime.Date,
                  y=ShootingTime['ShootingCount'], name = "ShootingCount",
                  line = dict(color = '#17BECF'))

VictimsTimeData = go.Scatter(
                  x=VictimsTime.Date,
                  y=VictimsTime['Victims'], name = "KilledCount",
                  line = dict(color = '#7F7F7F'))

TimeData = [ShootingTimeData,VictimsTimeData]

layout = dict(
    title='Shooting and Victims by Time',
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='12m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(),
        type='date'
    )
)


fig = dict(data=TimeData, layout=layout)
py.iplot(fig, filename = "Shooting and Victims by Time")

In [22]:
# Number of killed by state
StateData = pd.DataFrame(Y2YStateData.groupby(['state'])['ShootingCount'].sum())
StateData= StateData.reset_index()
StateData

NameError: name 'Y2YStateData' is not defined

In [ ]:
# Melody to plot

In [ ]:
# Number of killed vs injured data
USAKilled = pd.DataFrame(GunVoilenceRawData_df.groupby(['state'])['n_killed'].sum())
USAKilled = USAKilled.reset_index()
USAInjured = pd.DataFrame(GunVoilenceRawData_df.groupby(['state'])['n_injured'].sum())
USAInjured= USAInjured.reset_index()
USAInjuredvsKilled = pd.merge(USAKilled,USAInjured, on=['state'])
USAInjuredvsKilled["Killed%"] = USAInjuredvsKilled["n_killed"]/(USAInjuredvsKilled["n_killed"]+USAInjuredvsKilled["n_injured"])
USAInjuredvsKilled["Injured%"] = USAInjuredvsKilled["n_injured"]/(USAInjuredvsKilled["n_killed"]+USAInjuredvsKilled["n_injured"])
USAInjuredvsKilled.head()

In [ ]:
# Melody to plot

In [ ]:
# Texas and California - Number of killed vs injured data
TexasCalifornia = USAInjuredvsKilled.loc[USAInjuredvsKilled['state'].isin(['Texas','California'])]
TexasCalifornia

In [ ]:
#People killed by month
MonthWiseKilled = pd.DataFrame(GunVoilenceRawData_df.groupby(['Year','Month'])['n_killed'].sum())
MonthWiseKilled= MonthWiseKilled.reset_index()
MonthWiseKilled.head()

In [ ]:
# Melody to plot

In [ ]:
#People killed by month
MonthWiseInjured = pd.DataFrame(GunVoilenceRawData_df.groupby(['Year','Month'])['n_injured'].sum())
MonthWiseInjured= MonthWiseInjured.reset_index()
MonthWiseInjured.head()

In [ ]:
#Gun violence by congressional district
DistrictWise_Data = pd.DataFrame(GunVoilenceRawData_df.groupby(['state','congressional_district']).size())
DistrictWise_Data= DistrictWise_Data.reset_index()
DistrictWise_Data.columns = ['state', 'congressional_district','ShootingCount']
DistrictWise_Data.count()

In [ ]:
# Melody to plot

In [ ]:
#Loop Through Info

In [ ]:
#Merge/Rename columns if any overlap with different data

In [ ]:
#Add columns to generate more specific data that could be useful for analysis

In [ ]:
#Add Bins putting data into catagories if numbers are involved

In [ ]:
# Find total/average data - use indexes

In [ ]:
#Sort Data

In [ ]:
#Find amount of tweets/social media used to cover the topic chosen

In [ ]:
#Use API url/query to gather information to determine other data

In [ ]:
#Create Dataframe for Data showing the type of data, when it occured, how it occured, etc.

In [ ]:
#Plot Pie Graph to show percentages of Data

In [ ]:
#Plot Bar Graph/Line Graph/Scatter to show correlations between Data

In [ ]:
#Explain trend(Education level vs. Unemployment level per zones)
#Explain trend (Education level vs. Median Age)
#Explain trend (Education level vs. Household income)
#Explain trend

In [ ]:
#Export Graph images