In [1]:
# Dependecies
import random
import requests
import pandas as pd
import time
import openweathermapy.core as owm
import matplotlib.pyplot as plt
# from config import api_key
import numpy as np
import csv
import datetime
import seaborn as sns
import calendar


import plotly
plotly.tools.set_credentials_file(username='melody9178', api_key='W5hhLb4CAn9Bk6cpOUjc')
import plotly.plotly as py
import plotly.figure_factory as ff
import difflib
import plotly.graph_objs as go

In [2]:
#Import CSV/API
csv_path = "gun-violence-data_01-2013_03-2018.csv"
GunVoilenceRawData_df = pd.read_csv(csv_path)

In [3]:
# Include additional columns Year and Month
GunVoilenceRawData_df["Year"] = pd.DatetimeIndex(GunVoilenceRawData_df['date']).year
GunVoilenceRawData_df["Month"] = pd.DatetimeIndex(GunVoilenceRawData_df['date']).month
GunVoilenceRawData_df['Month'] = GunVoilenceRawData_df['Month'].apply(lambda x: calendar.month_abbr[x])

In [4]:
#Data Cleanup - Replace "District of Columbia" value with "Washington"
GunVoilenceRawData_df = GunVoilenceRawData_df.replace('District of Columbia', 'Maryland')

In [5]:
# Print cleaned up date
GunVoilenceRawData_df.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,congressional_district,n_guns_involved,Year,Month
0,461105,1/1/2013,Pennsylvania,Mckeesport,0,4,14.0,NaN,2013,Jan
1,460726,1/1/2013,California,Hawthorne,1,3,43.0,NaN,2013,Jan
2,478855,1/1/2013,Ohio,Lorain,1,3,9.0,2.0,2013,Jan
3,478925,1/5/2013,Colorado,Aurora,4,0,6.0,NaN,2013,Jan
4,478959,1/7/2013,North Carolina,Greensboro,2,2,6.0,2.0,2013,Jan

In [6]:
#Find valuable data using lists - Year on Year count per State
Y2YStateData = pd.DataFrame(GunVoilenceRawData_df.groupby(['state','Year']).size())
Y2YStateData= Y2YStateData.reset_index()
Y2YStateData.columns = ['state', 'Year','ShootingCount']
Y2YStateData.count()

state            286
Year             286
ShootingCount    286
dtype: int64

# Shootings by State

In [7]:
#Find valuable data using lists - shottings count per State
State_Shooting = pd.DataFrame(GunVoilenceRawData_df.groupby(['state']).size())
State_Shooting= State_Shooting.reset_index()
State_Shooting.columns = ['state','ShootingCount']
State_Shooting = State_Shooting.set_index('state')
State_Shooting.head()

            ShootingCount
state
Alabama              5471
Alaska               1349
Arizona              2328
Arkansas             2842
California          16306

In [8]:
# Build State Abbrev Dataframe

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}


State_Abbrev=pd.DataFrame.from_dict(us_state_abbrev,orient='index')
State_Abbrev.index.name = 'state'
State_Abbrev = State_Abbrev.rename(index = str, columns = {0:"state_abbrev"})

State_Abbrev.head()

           state_abbrev
state
Alabama              AL
Alaska               AK
Arizona              AZ
Arkansas             AR
California           CA

In [9]:
# To facilitate visualisation, merge State Abbreviation dataframe with State Shooting dataframe
StateAbbrev_Shooting = pd.concat([State_Shooting, State_Abbrev], axis=1, join='outer')
StateAbbrev_Shooting.head()

            ShootingCount state_abbrev
state
Alabama              5471           AL
Alaska               1349           AK
Arizona              2328           AZ
Arkansas             2842           AR
California          16306           CA

In [10]:
# Visualize Shootings by State


for col in StateAbbrev_Shooting.columns:
    StateAbbrev_Shooting[col] = StateAbbrev_Shooting[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]


data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = StateAbbrev_Shooting['state_abbrev'],
        z = StateAbbrev_Shooting['ShootingCount'].astype(float),
        locationmode = 'USA-states',
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = 'Shootings Count')
        ) ]

layout = dict(
        title = '2014-2018 US Shootings Count by State',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = None)
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='2014-2018 US Shootings Count by State' )

# Shootings by Cities

In [ ]:
#Find valuable data using lists - shootings count by cities
City_Shooting = pd.DataFrame(GunVoilenceRawData_df.groupby(['state','city_or_county']).size())
City_Shooting= City_Shooting.reset_index()
City_Shooting.columns = ['state','city/county','ShootingCount']
City_Shooting = City_Shooting.set_index('city/county')
City_Shooting.head()

In [ ]:
fips = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/minoritymajority.csv')
fips = fips.drop(['STNAME', 'TOT_POP','TOT_MALE', 'TOT_FEMALE', 'WA_MALE','WA_FEMALE','NHWA_MALE','NHWA_FEMALE','NHWhite_Alone','Not_NHWhite_Alone','MinorityMinority','MinorityPCT','Black','BlackPCT','Hispanic', 'HispanicPCT'], axis=1)
fips.columns = ['FIPS','city/county']
fips = fips.set_index('city/county')
fips.head()

In [ ]:

# Fussy Match City Name
fips['city/county']= fips['city/county'].apply(lambda x: difflib.get_close_matches(x, City_Shooting['city/county'])[0])
fips.head()

In [ ]:
# Merge city shooting with fips to visualise
CityFIPS_Shooting = pd.concat([fips, City_Shooting], axis=1, join='outer').drop_duplicates().reset_index(drop=True)
CityFIPS_Shooting.head()

In [ ]:
# Texas shooting by cities
Texas_Shooting = CityFIPS_Shooting[CityFIPS_Shooting['state'] == 'Texas']
Texas_Shooting.head()

In [ ]:
# Texas shooting by cities visialised map
values = CityFIPS_Shooting['ShootingCount'].tolist()
fips = CityFIPS_Shooting['FIPS'].tolist()

endpts = list(np.mgrid[min(values):max(values):4j])
colorscale = ["#030512","#1d1d3b","#323268","#3d4b94","#3e6ab0",
              "#4989bc","#60a7c7","#85c5d3","#b7e0e4","#eafcfd"]
fig = ff.create_choropleth(
    fips=fips, values=values, scope=['Texas'], show_state_data=True,
    colorscale=colorscale, binning_endpoints=endpts, round_legend_values=True,
    plot_bgcolor='rgb(229,229,229)',
    paper_bgcolor='rgb(229,229,229)',
    legend_title='Shootings Count',title='2014-2018 Texas Shootings Count by Cities',
    county_outline={'color': 'rgb(255,255,255)', 'width': 0.5},
    exponent_format=True,
)
py.iplot(fig, filename='test')

# Shooting and Killed by time

In [82]:
ShootingTime = pd.DataFrame(GunVoilenceRawData_df.groupby(['date']).size())
ShootingTime = ShootingTime.reset_index()
ShootingTime.columns = ['Date','ShootingCount']
ShootingTime['Date'] =pd.to_datetime(ShootingTime['Date'], format='%m/%d/%Y')
ShootingTime = ShootingTime.sort_values('Date')
ShootingTime.head()

          Date  ShootingCount
0   2013-01-01              3
135 2013-01-05              1
146 2013-01-07              2
51  2013-01-19              1
67  2013-01-21              2

In [86]:

KilledTime = pd.DataFrame(GunVoilenceRawData_df.groupby(['date'])['n_killed'].sum())
KilledTime = KilledTime.reset_index()
KilledTime.columns = ['Date','KilledCount']
KilledTime['Date'] =pd.to_datetime(KilledTime['Date'], format='%m/%d/%Y')
KilledTime= KilledTime.sort_values('Date')
KilledTime.head()

          Date  KilledCount
0   2013-01-01            2
135 2013-01-05            4
146 2013-01-07            6
51  2013-01-19            5
67  2013-01-21            0

In [88]:
ShootingTimeData = go.Scatter(
                  x=ShootingTime.Date,
                  y=ShootingTime['ShootingCount'], name = "ShootingCount",
                  line = dict(color = '#17BECF'))

KilledTimeData = go.Scatter(
                  x=KilledTime.Date,
                  y=KilledTime['KilledCount'], name = "KilledCount",
                  line = dict(color = '#7F7F7F'))

TimeData = [ShootingTimeData,KilledTimeData]

layout = dict(
    title='Shooting and Killed by Time',
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='12m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(),
        type='date'
    )
)


fig = dict(data=TimeData, layout=layout)
py.iplot(fig, filename = "Shooting and Killed by Time")

In [ ]:
# Number of killed by state
StateData = pd.DataFrame(Y2YStateData.groupby(['state'])['ShootingCount'].sum())
StateData= StateData.reset_index()
StateData

In [ ]:
# Melody to plot

In [ ]:
# Number of killed vs injured data
USAKilled = pd.DataFrame(GunVoilenceRawData_df.groupby(['state'])['n_killed'].sum())
USAKilled = USAKilled.reset_index()
USAInjured = pd.DataFrame(GunVoilenceRawData_df.groupby(['state'])['n_injured'].sum())
USAInjured= USAInjured.reset_index()
USAInjuredvsKilled = pd.merge(USAKilled,USAInjured, on=['state'])
USAInjuredvsKilled["Killed%"] = USAInjuredvsKilled["n_killed"]/(USAInjuredvsKilled["n_killed"]+USAInjuredvsKilled["n_injured"])
USAInjuredvsKilled["Injured%"] = USAInjuredvsKilled["n_injured"]/(USAInjuredvsKilled["n_killed"]+USAInjuredvsKilled["n_injured"])
USAInjuredvsKilled.head()

In [ ]:
# Melody to plot

In [ ]:
# Texas and California - Number of killed vs injured data
TexasCalifornia = USAInjuredvsKilled.loc[USAInjuredvsKilled['state'].isin(['Texas','California'])]
TexasCalifornia

In [ ]:
#People killed by month
MonthWiseKilled = pd.DataFrame(GunVoilenceRawData_df.groupby(['Year','Month'])['n_killed'].sum())
MonthWiseKilled= MonthWiseKilled.reset_index()
MonthWiseKilled.head()

In [ ]:
# Melody to plot

In [ ]:
#People killed by month
MonthWiseInjured = pd.DataFrame(GunVoilenceRawData_df.groupby(['Year','Month'])['n_injured'].sum())
MonthWiseInjured= MonthWiseInjured.reset_index()
MonthWiseInjured.head()

In [ ]:
#Gun violence by congressional district
DistrictWise_Data = pd.DataFrame(GunVoilenceRawData_df.groupby(['state','congressional_district']).size())
DistrictWise_Data= DistrictWise_Data.reset_index()
DistrictWise_Data.columns = ['state', 'congressional_district','ShootingCount']
DistrictWise_Data.count()

In [ ]:
# Melody to plot

In [ ]:
#Loop Through Info

In [ ]:
#Merge/Rename columns if any overlap with different data

In [ ]:
#Add columns to generate more specific data that could be useful for analysis

In [ ]:
#Add Bins putting data into catagories if numbers are involved

In [ ]:
# Find total/average data - use indexes

In [ ]:
#Sort Data

In [ ]:
#Find amount of tweets/social media used to cover the topic chosen

In [ ]:
#Use API url/query to gather information to determine other data

In [ ]:
#Create Dataframe for Data showing the type of data, when it occured, how it occured, etc.

In [ ]:
#Plot Pie Graph to show percentages of Data

In [ ]:
#Plot Bar Graph/Line Graph/Scatter to show correlations between Data

In [ ]:
#Explain trend(Education level vs. Unemployment level per zones)
#Explain trend (Education level vs. Median Age)
#Explain trend (Education level vs. Household income)
#Explain trend

In [ ]:
#Export Graph images